body{
    background-color: #1e1e1e;
    margin-left: -300px;
}

.title {
    color: white;
    font-size: 120px;
    font-family: 'OCRB';
    text-align: center;
    letter-spacing: 10px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.difficulty{
    color: #007acc;
    font-size: 50px;
    font-family: 'OCRB';
    text-align: center;
    margin: 0em;
}

.btn{
    text-align: center;
}

.easyBtn{
    display: inline-block;
    padding: 0.5em 1.75em;
    font-size: 40px;
    letter-spacing: 4.5px;
    font-family: 'OCRB';
    text-decoration: none;
    background: #00d6cb;
    color: #FFFFFF;
    border-radius: 3px;
    margin: 0.25em;
  }

.normalBtn{
    display: inline-block;
    padding: 0.5em 1em;
    font-size: 40px;
    letter-spacing: 5px;
    font-family: 'OCRB';
    text-decoration: none;
    background: #00A0C9;
    color: #FFFFFF;
    border-radius: 3px;
    margin: 0.5em;
}

.hardBtn{
    display: inline-block;
    padding: 0.5em 1.75em;
    font-size: 40px;
    letter-spacing: 5px;
    font-family: 'OCRB';
    text-decoration: none;
    background: #0073C6;
    color: #FFFFFF;
    border-radius: 3px;
    margin: 0.25em;
  }