body {
    background-color: #1e1e1e;
    margin-left: -300px;
}

h1 {
    color: #007acc;
    font-size: 45px;
    text-align: left;
    font-family: 'OCRB';
    margin-bottom: -0.8em;
}

a {
    color: #007acc;
}

.figures{
    margin-top: 2em;
}

.figure {
    color: #00CED1;
    font-size: 30px;
    font-family: 'OCRB';
    margin-top: -0.75em;
}

.btn {
    text-align: center;
    margin-top: 1em;
}

.backBtn {
    display: inline-block;
    padding: 0.5em 1.75em;
    font-size: 40px;
    letter-spacing: 5px;
    font-family: 'OCRB';
    text-decoration: none;
    background: #0073C6;
    color: #FFFFFF;
    border-radius: 3px;
    margin: 0.5em;
}