body{
    background-color: #1e1e1e;
    margin-left: 0px;
}

.figure{
    color: #00CED1;
    font-size: 120px;
    text-align: center;
    font-family: 'OCRB';
    margin: 0.8em 0.2em;
}

p{
  color: #007acc;
  text-align: center;
  font-family: 'OCRB';
  font-size: 50px;
  margin-bottom: -0.25em;
}


.btn{
    text-align: center;
}


.yesBtn{
    display: inline-block;
    padding: 0.5em 1.38em;
    font-size: 40px;
    letter-spacing: 5px;
    font-family: 'OCRB';
    text-decoration: none;
    background: #00d6cb;
    color: #FFFFFF;
    border-radius: 3px;
    margin: 0.25em;
  }

.noBtn{
    display: inline-block;
    padding: 0.5em 1.75em;
    font-size: 40px;
    letter-spacing: 5px;
    font-family: 'OCRB';
    text-decoration: none;
    background: #00A0C9;
    color: #FFFFFF;
    border-radius: 3px;
    margin: 0.5em;
}

.passBtn{
    display: inline-block;
    padding: 0.5em 1em;
    font-size: 40px;
    letter-spacing: 5px;
    font-family: 'OCRB';
    text-decoration: none;
    background: #0073C6;
    color: #FFFFFF;
    border-radius: 3px;
    margin: 0.25em;
  }

  h1{
    color: #007acc;
    text-align: left;
    margin-left: 1em;
    font-family: 'OCRB';
    margin-bottom: -0.8em;
  }