body{
    background-color: #1e1e1e;
    margin-left: -300px;
}

.title {
    color: white;
    font-size: 120px;
    font-family: 'OCRB';
    text-align: center;
    letter-spacing: 10px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.nickname{
    color: #007acc;
    font-size: 50px;
    font-family: 'OCRB';
    text-align: center;
    margin: 0em;
}

.formText{
    text-align: center;
    color: #007acc;
    font-size: 50px;
    font-family: 'OCRB';
    border-radius: 50px;
    border-color: #007acc
}

form{
    text-align: center;
}

.formSubmit{
    display: inline-block;
    padding: 0.5em 1em;
    font-size: 40px;
    letter-spacing: 5px;
    font-family: 'OCRB';
    text-decoration: none;
    background: #00A0C9;
    color: #FFFFFF;
    border-radius: 3px;
    margin: 0.5em;
}
