body {
    background-color: #1e1e1e;
    margin-left: -300px;
}

.name {
    color: #00CED1;
    font-size: 90px;
    text-align: center;
    font-family: 'OCRB';
    margin: 0.8em 0.2em;
}

h1 {
    color: #007acc;
    font-size: 45px;
    text-align: left;
    margin-left: 1em;
    font-family: 'OCRB';
    margin-bottom: -0.8em;
}

.sort {
    color: #00CED1;
    font-size: 30px;
    margin-right: 0.75em;
    margin-top: 2.5em;
}

table {
    border-collapse: collapse;
    border: solid 2px #00CED1;
    font-size: 24px;
    text-align: center;
}

th{
    border: solid 2px #00CED1;
}

td {
    background: #1e1e1e;
    color: #00CED1
}

table th {
    padding: 10px;
    color: #00A0C9;
}

table td {
    padding: 10px;
    color: #00CED1;
    border: dashed 1px #00CED1;
}

a{
    color: #00CED1;
}

.btn {
    text-align: center;
    margin-top: 1em;
}

.backBtn {
    display: inline-block;
    padding: 0.5em 1.75em;
    font-size: 40px;
    letter-spacing: 5px;
    font-family: 'OCRB';
    text-decoration: none;
    background: #0073C6;
    color: #FFFFFF;
    border-radius: 3px;
    margin: 0.5em;
}