body{
    background-color: #1e1e1e;
    margin-left: -300px;
}

.title {
    color: white;
    font-size: 120px;
    font-family: 'OCRB';
    text-align: center;
    letter-spacing: 10px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.btn{
    text-align:center;
}

.startBtn{
    display: inline-block;
    padding: 0.5em 1.37em;      /* ボタンの大きさの調整 */
    font-size: 40px;
    letter-spacing: 4.5px;
    font-family: 'OCRB';
    text-decoration: none;
    background: #007acc;
    color: #FFFFFF;
    border-radius: 3px;
    margin-bottom: 0.5em;
  }

  .recordBtn{
    display: inline-block;
    padding: 0.5em 1em;
    font-size: 40px;
    letter-spacing: 5px;
    font-family: 'OCRB';
    text-decoration: none;
    background: #00d6cb;
    color: #FFFFFF;
    border-radius: 3px;
  }