body {
    background-color: #1e1e1e;
    margin-left: -300px;
}

h1 {
    color: #007acc;
    font-size: 75px;
    font-family: 'OCRB';
    text-align: center;
    margin: 0.5em;

}

.formText {
    text-align: center;
    color: #007acc;
    font-size: 50px;
    font-family: 'OCRB';
    border-radius: 50px;
    border-color: #007acc
}

form {
    text-align: center;
    margin: 1em;
}

.formSubmit {
    display: inline-block;
    padding: 0.5em 1em;
    font-size: 40px;
    letter-spacing: 5px;
    font-family: 'OCRB';
    text-decoration: none;
    background: #00A0C9;
    color: #FFFFFF;
    border-radius: 3px;
    margin: 0.5em;
}

.sort {
    color: #00CED1;
    font-size: 30px;
    margin-right: 0.75em;
}

table {
    border-collapse: collapse;
    border: solid 2px #00CED1;
    font-size: 24px;
    text-align: center;
}

th{
    border: solid 2px #00CED1;
}

td {
    background: #1e1e1e;
    color: #00CED1
}

table th {
    padding: 10px;
    color: #00A0C9;
}

table td {
    padding: 10px;
    color: #00CED1;
    border: dashed 1px #00CED1;
}

a{
    color: #00CED1;
}

.btn {
    text-align: center;
    margin-top: 1em;
}

.backBtn {
    display: inline-block;
    padding: 0.5em 1.75em;
    font-size: 40px;
    letter-spacing: 5px;
    font-family: 'OCRB';
    text-decoration: none;
    background: #0073C6;
    color: #FFFFFF;
    border-radius: 3px;
    margin: 0.5em;
}