body{
    background-color: #1e1e1e;
}

.description{
    color: #007acc;
    text-align: center;
    font-family: 'OCRB';
    font-size: 50px;
    margin-bottom: 0.5em;
    margin-left: -300px;
}

.points{   
    color: #00CED1;
    font-size: 120px;
    text-align: center;
    font-family: 'OCRB';
    margin: 0em 0em -0.25em -300px;
}

.text{
    color: #00CED1;
    font-size: 30px;
    text-align: center;
    font-family: 'OCRB';
    margin-top: -0.8em;
    margin-left: -300px;
}

.btn{
    text-align: center;
    margin-top: 1em;
    margin-left: -300px;
}

.topBtn{
    display: inline-block;
    padding: 0.5em 1.75em;
    font-size: 40px;
    letter-spacing: 5px;
    font-family: 'OCRB';
    text-decoration: none;
    background: #0073C6;
    color: #FFFFFF;
    border-radius: 3px;
    margin: 0.5em;
}

.againBtn{
    display: inline-block;
    padding: 0.5em 1em;
    font-size: 40px;
    letter-spacing: 5px;
    font-family: 'OCRB';
    text-decoration: none;
    background: #00A0C9;
    color: #FFFFFF;
    border-radius: 3px;
    margin: 0.5em;
    text-align:center;
}


.result{
    color: #007acc;
    font-size: 50px;
    font-family: 'OCRB';
    text-align: center;
    margin: 0em;
    margin-left: -300px;   
}