body {
    background-color: #1e1e1e;
    margin-left: -300px;
}

h1 {
    color: #007acc;
    font-size: 60px;
    text-align: center;
    font-family: 'OCRB';
    margin: 2.5em;
}

.btn {
    text-align: center;
    margin-top: 1em;
}

.backBtn {
    display: inline-block;
    padding: 0.5em 1.75em;
    font-size: 40px;
    letter-spacing: 5px;
    font-family: 'OCRB';
    text-decoration: none;
    background: #0073C6;
    color: #FFFFFF;
    border-radius: 3px;
    margin: 0.5em;
}