{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>primes - difficulty </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'difficulty.css' %}">
</head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'textyle.min.js' %}"></script>
    <script src="{% static 'jquery.easing.1.3.js' %}"></script>
    <div class="contents">
        <p class="title">primes</p>
        <p class="difficulty">difficulty</p>
        <div class="btn">
            <a href="{% url 'easy' id %}"><button class="easyBtn">EASY</button></a>
            <a href="{% url 'normal' id %}"><button class="normalBtn">NORMAL</button></a>
            <a href="{% url 'hard' id %}"><button class="hardBtn">HARD</button></a>
        </div>
    </div>
    <script>
        $(window).on('load', function () {

            $('.title').textyle({
                duration: 800,
                delay: 200,
                easing: 'swing',
                callback: function () {
                    $(this).css({
                        color: '#00d6cb',
                        transition: '1s',
                    });
                    $('.desc').css('opacity', 1);
                }
            });


            $('.title').textyle({
                duration: 600,
                delay: 120,
                easing: 'swing',
                callback: function () {
                    $(this).css({
                        color: '#007acc',
                        transition: '1s',
                    });
                    $('.desc').css('opacity', 1);
                }
            });

        });


        $(function () {
            ///フェードイン///
            $('.contents').hide().fadeIn(500),
            $(".contents").animate({
                "marginLeft": "300px"
                }, {duration:500, queue: false}, "easeOutQuint");
        });
    </script>
</body>

</html>