{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>Gamelog</title>
  <meta charset="uff-8">
  <link rel="stylesheet" href="{% static 'gamelog.css' %}">
  <script type="text/javascript" src="{% static 'gamelog.js' %}"></script>
</head>

<body>
  <div class="contents">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'textyle.min.js' %}"></script>
    <script src="{% static 'jquery.easing.1.3.js' %}"></script>
    <h1 class="name">Name：<a href="{% url 'player' nameId %}">{{ name }}</a></h1>
    <h1>difficulty：{{ difficulty }}</h1>
    <h1>points：{{ points }}</h1>
    <h1>figures：</h1>
    <div class="figures">
      {% for text in log %}
      <p class="figure">{{ text }}</p>
      {% endfor %}
    </div>
    <div class="btn">
      <a href="{% url 'record'%}"><button class="backBtn">BACK</button></a>

    </div>
  </div>

  <script>
    $(window).on('load', function () {
      $(function () {
        ///フェードイン///
        $('.contents').hide().fadeIn(500),
          $(".contents").animate({
            "marginLeft": "300px"
          }, {
            duration: 500,
            queue: false
          }, "easeOutQuint");
      });

      $(".backBtn").click(function () {
        ///フェードアウト///
        $('.contents').fadeOut(500);
        $('body').animate({
          "marginLeft": "300px"
        }, {
          duration: 500,
          queue: false
        }, "easeOutQuint");
      });

      $(".name").click(function () {
        ///フェードアウト///
        $('.contents').fadeOut(500);
        $('body').animate({
          "marginLeft": "300px"
        }, {
          duration: 500,
          queue: false
        }, "easeOutQuint");
      });
    })
  </script>
</body>

</html>