{% load static %}
<!DOCTYPE html>
<!-- 他の色 #0073C6, #0088BA, #00CED1 ... -->
<html>

<head>
  <title>primes - game</title>
  <meta charset="uff-8">
  <link rel="stylesheet" href="{% static 'game.css' %}">
</head>

<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{% static 'textyle.min.js' %}"></script>
  <script src="{% static 'jquery.easing.1.3.js' %}"></script>
  <div class="contents">
    <p class="figure">{{ figure }}</p>
    <p>Is this a prime number?</p>
    <div class="btn">
      <a href="{% url 'yes' id %}"><button class="yesBtn">Yes</button></a>
      <a href="{% url 'no' id %}"><button class="noBtn">No</button></a>
      <a href="{% url 'skip' id %}"><button class="passBtn">Skip</button></a>
    </div>
    <h1>life：{{ life }}</h1>
    <h1>score：{{ points }}</h1>
    <h1>info：{{ info }}</h1>
  </div>
</body>

</html>
