{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>primes - nickname </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'nickname.css' %}">
</head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'textyle.min.js' %}"></script>
    <script src="{% static 'jquery.easing.1.3.js' %}"></script>
    <div class="contents">
        <p class="title">primes</p>
        <form action="{% url 'nickname' %}" method="POST">
            {% csrf_token %}
            <input class="formText" type="text" name="name" placeholder="nickname">
            <br />
            <input class="formSubmit" type="submit" value="next">
        </form>
    </div>
    <script>
        $(window).on('load', function () {

            $('.title').textyle({
                duration: 800,
                delay: 200,
                easing: 'swing',
                callback: function () {
                    $(this).css({
                        color: '#00d6cb',
                        transition: '1s',
                    });
                    $('.desc').css('opacity', 1);
                }
            });


            $('.title').textyle({
                duration: 600,
                delay: 120,
                easing: 'swing',
                callback: function () {
                    $(this).css({
                        color: '#007acc',
                        transition: '1s',
                    });
                    $('.desc').css('opacity', 1);
                }
            });

        });


        $(function () {
            ///フェードイン///
            $('.contents').hide().fadeIn(500),
            $(".contents").animate({
                "marginLeft": "300px"
                }, {duration:500, queue: false}, "easeOutQuint");
        });

        $('form').submit(function () {
            ///フェードアウト///
            $('.contents').fadeOut(500);
            $('body').animate({
                "marginLeft": "300px"
                }, {duration:500, queue: false}, "easeOutQuint");               
        });
    </script>
</body>

</html>