{% load static %}
<!DOCTYPE html>
<!-- 他の色 #0073C6, #0088BA, #00CED1 ... -->
<html>

<head>
  <title>primes - player</title>
  <meta charset="uff-8">
  <link rel="stylesheet" href="{% static 'player.css' %}">
</head>

<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{% static 'textyle.min.js' %}"></script>
  <script src="{% static 'jquery.easing.1.3.js' %}"></script>
  <div class="contents">

    <h1 class="name">{{ name }}</h1>
    <h1>Max：{{ max }}</h1>
    <h1>times：{{ times }}</h1>
    <h1>Average：{{ ave }}</h1>

    <br />
    <div class="sort">
      <a href="{% url 'player' id%}?sort=id">Sort by id</a>      <!--変えてください。-->
      <a href="{% url 'player' id%}?sort=points">Sort by points</a>      <!--変えてください。-->
    </div>
    <table>
      <tr>
        <th>ID</th>
        <th>Points</th>
        <th>difficulty</th>
      </tr>
      {% for game in games %}
      <tr>
        <td><a href="{% url 'gamelog' game.id %}">{{ game.id }}</a></td>
        <td>{{ game.points }}</td>
        <td>{{ game.get_difficulty_display }}</td>
      </tr>
      {% endfor %}
    </table>
    <div class="btn">
      <a href="{% url 'record'%}"><button class="backBtn">BACK</button></a>
    </div>
  </div>

  <script>
    $(window).on('load', function () {
      $(function () {
        ///フェードイン///
        $('.contents').hide().fadeIn(500),
          $(".contents").animate({
            "marginLeft": "300px"
          }, {
            duration: 500,
            queue: false
          }, "easeOutQuint");
      });

      $("a").click(function () {
        ///フェードアウト///
        $('.contents').fadeOut(500);
        $('body').animate({
          "marginLeft": "300px"
        }, {
          duration: 500,
          queue: false
        }, "easeOutQuint");
      });
    })
  </script>
</body>

</html>