{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>primes</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'primes.css' %}">

<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{% static 'textyle.min.js' %}"></script>
  <script src="{% static 'jquery.easing.1.3.js' %}"></script>
  <div class="contents">
    <p class="title">primes</p>
    <div class="btn">
      <a href="{% url 'nickname' %}"><button class="startBtn">START</button></a>
    </div>
    <div class="btn">
      <a href="{% url 'record' %}"><button class="recordBtn">RECORD</button></a>
    </div>
  </div>
  <script>
    $(window).on('load', function () {
      $('.title').textyle({
        duration: 800,
        delay: 200,
        easing: 'swing',
        callback: function () {
          $(this).css({
            color: '#00d6cb',
            transition: '1s',
          });
          $('.desc').css('opacity', 1);
        }
      });

      $('.title').textyle({
        duration: 600,
        delay: 120,
        easing: 'swing',
        callback: function () {
          $(this).css({
            color: '#007acc',
            transition: '1s',
          });
          $('.desc').css('opacity', 1);
        }
      });

    });


    $(function () {
      ///フェードイン///
      $('.title').hide().fadeIn(1000);
      $('.btn').hide().fadeIn(1000);
      $("body").animate({
        "marginLeft": "0px"   ///本来は300px///
      }, {duration:1000, queue: false}, "easeOutQuint");
    });


    $('.startBtn').click(function () {
      ///フェードアウト///
      /// time.sleep(0.5)でリダイレクトのディレイを0.5秒間発生させる ///
      $('.contents').fadeOut(500);
      $(".contents").animate({
        "marginLeft": "300px"
        }, {duration:500, queue: false}, "easeOutQuint");
    });

    $('.recordBtn').click(function () {
      ///フェードアウト///
      /// time.sleep(0.5)でリダイレクトのディレイを0.5秒間発生させる ///
      $('.contents').fadeOut(500);
      $(".contents").animate({
        "marginLeft": "300px"
        }, {duration:500, queue: false}, "easeOutQuint");
    });
  </script>
</body>

</html>