{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title> primes - record </title>
  <meta charset="uff-8">
  <link rel="stylesheet" href="{% static 'record.css' %}">
</head>

<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{% static 'textyle.min.js' %}"></script>
  <script src="{% static 'jquery.easing.1.3.js' %}"></script>
  <div class="contents">
    <h1>Search</h1>
    <form action="{% url 'record' %}" method="POST">
      {% csrf_token %}
      <input class="formText" type="text" name="nickname" placeholder="nickname">
      <br />
      <input class="formSubmit" type="submit" value="SEARCH">
    </form>
    <h1>Ranking</h1>
    <br />
    <a href="{% url 'record' %}?sort=id" class="sort">Sort by id</a>
    <a href="{% url 'record' %}?sort=points" class="sort">Sort by points</a>
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Points</th>
        <th>difficulty</th>
      </tr>
      {% for game in games %}
      <tr>
        <td><a href="{% url 'gamelog' game.id %}">{{ game.id }}</a></td>
        <td><a href="{% url 'player' game.player.id %}">{{ game.player.name }}</a></td>
        <td>{{ game.points }}</td>
        <td>{{ game.get_difficulty_display }}</td>
      </tr>
      {% endfor %}
    </table>
    <div class="btn">
      <a href="{% url 'primes'%}"><button class="backBtn">BACK</button></a>
    </div>
  </div>
  <script>
    $(window).on('load', function () {
      $(function () {
        ///フェードイン///
        $('.contents').hide().fadeIn(500),
          $(".contents").animate({
            "marginLeft": "300px"
          }, {
            duration: 500,
            queue: false
          }, "easeOutQuint");
      });

      $("a").click(function () {
        ///フェードアウト///
        $('.contents').fadeOut(500);
        $('body').animate({
          "marginLeft": "300px"
        }, {
          duration: 500,
          queue: false
        }, "easeOutQuint");
      });
    })
  </script>
</body>

</html>