{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>primes - result</title>
    <meta charset="uff-8">
    <link rel="stylesheet" href="{% static 'result.css' %}">
    <script type="text/javascript" src="{% static 'result.js' %}"></script>
</head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'textyle.min.js' %}"></script>
    <script src="{% static 'jquery.easing.1.3.js' %}"></script>
    <p class="description">Your score</p>
    <p class="points">{{ points }}</p>
    <p class="description">You could get</p>
    {% for text in log %}
        <p class="text">{{ text }}</p>
    {% endfor %}
    <div class="btn">
      <a href="{% url 'primes'%}"><button class="topBtn">TOP</button></a>
      <a href="{% url 'again' id %}"><button class="againBtn">AGAIN</button></a>
      
    </div>
    
    <script>
        $(function () {
      ///フェードイン///
      $('.title').hide().fadeIn(1000);
      $('.btn').hide().fadeIn(1000);
      $("body").animate({
        "marginLeft": "300px"
      }, {duration:1000, queue: false}, "easeOutQuint");
    });
        $('.resultBtn').click(function () {
      ///フェードアウト///
      /// time.sleep(0.5)でリダイレクトのディレイを0.5秒間発生させる ///
      $('.contents').fadeOut(500);
      $(".contents").animate({
        "marginLeft": "300px"
        }, {duration:500, queue: false}, "easeOutQuint");
    });


    </script>
    
</body>

</html>