{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>primes - unknown</title>
  <meta charset="uff-8">
  <link rel="stylesheet" href="{% static 'unknown.css' %}">
</head>

<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{% static 'textyle.min.js' %}"></script>
  <script src="{% static 'jquery.easing.1.3.js' %}"></script>
  <div class="contents">
    <h1>Sorry, but this name don't find.</h1>
    <div class="btn">
        <a href="{% url 'record'%}"><button class="backBtn">BACK</button></a>
    </div>
  </div>

  <script>
    $(window).on('load', function () {
      $(function () {
        ///フェードイン///
        $('.contents').hide().fadeIn(500),
          $(".contents").animate({
            "marginLeft": "300px"
          }, {
            duration: 500,
            queue: false
          }, "easeOutQuint");
      });

      $(".backBtn").click(function () {
        ///フェードアウト///
        $('.contents').fadeOut(500);
        $('body').animate({
          "marginLeft": "300px"
        }, {
          duration: 500,
          queue: false
        }, "easeOutQuint");
      });
    })
  </script>
</body>

</html>